StaffFaceRecognition/backend/dataset
StaffFaceRecognition/settings.py
StaffFaceRecognition/__pycache__
StaffFaceRecognition/Home/__pycache__
StaffFaceRecognition/Home/migrations/__pycache__
StaffFaceRecognition/Authentication/__pycache__
StaffFaceRecognition/Frontend/__pycache__
StaffFaceRecognition/media/
StaffFaceRecognition/backend/__pycache__
StaffFaceRecognition/Profile/migrations/__pycache__
env
.env
StaffFaceRecognition/backend/face_embeddings.json
StaffFaceRecognition/StaffFaceData/media
StaffFaceRecognition/StaffFaceData/face_embeddings.json
StaffFaceRecognition/StaffFaceData.zip
